.product-container{
height: 250px;
float: left;
display: inline-block;
position: relative;
border-right: 1px solid #ebecee;
border-bottom: 1px dashed #d5d7d8;
background-color: #fff;
webkit-border-radius: 8px;
-moz-border-radius: 8px;
-khtml-border-radius: 8px;
border-radius: 0px;
webkit-box-shadow: rgba(181,183,191,0.50) 2px 2px 1px;
-moz-box-shadow: rgba(181,183,191,0.50) 2px 2px 1px;
box-shadow: rgba(181,183,191,0.50) 2px 2px 1px;
padding: 10px;
width: 160px;
margin: 0 0 0 0;
}

.image{
display: block;
position: relative;
padding-left: 22px;
}

.price{
display: block;
position: relative;
margin-top: 35px;
}

.price-old{
color: gray;
text-decoration: line-through
}

.name{
width: 130px;
height: 5px;
display: block;
position: relative;
text-align: center;
}

.cart{
display: block;
position: relative;
padding-top: 30px;
}



div > div.cart > input.btn.btn-default {
display: inline-block;
padding: 5px 5px;
margin-bottom: 0;
font-size: 13px;
font-weight: normal;
line-height: 1.428571429;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
border: 1px solid transparent;
border-radius: 2px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
color: #333333;
background-color: #ffffff;
border-color: #cccccc;
margin-top: 10px
}

#left-category{

}
